<?xml version="1.0" encoding="UTF-8"?>

<!--  <!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
-->

<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url"> jdbc:postgresql://localhost:5432/myhibernate </property>
		<property name="connection.username"> postgres </property>
		<property name="connection.password">Pvgatade24</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hbm2ddl.auto">create</property>
		<property name="show_sql">true</property>
		<property name="formate_sql">true</property>
		<mapping class="com.hibernate.crudoperations.Employee"/> 
		<mapping class="one.to.one.mapping.Passenger"/>
		<mapping class="one.to.one.mapping.VishwaWorldTravels"/>
		<mapping class="one.to.many.mapping.College"/>
		<mapping class="one.to.many.mapping.Department"/>
		<mapping class="many.to.many.mapping.Departments"/>
		<mapping class="many.to.many.mapping.Students"/>
		
		</session-factory>

</hibernate-configuration>